/*重置样式*/
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p,ol,i,em,b{
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
}
body{
	font-size: 0.28rem;
	font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif; 
}
a{
	text-decoration: none;
	color: black;
	display: block;
}
i{
	font-style: normal;
}
b{
	font-weight: normal;
}
em{
	font-style: normal;
}
img{
	width:100%;
	height:100%;
	display: block;
}
li{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
/*每个页面头部公共样式*/
header{
	width:100%;
	height:0.9rem;
	line-height: 0.9rem;
	background: #1b1b1f;
	color: #fff;
	letter-spacing: 0.02rem;
	box-sizing: border-box;
	padding: 0 0.22rem;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1000;
	
}
.headerFill{
	width:100%;
	height:0.9rem;
}
header .top{
	height:100%;
	position: relative;
	font-size: 0.32rem;
	font-family: "微软雅黑";
}
/*顶部*/
.top .goBack{
	position: absolute;
	left: 0;
	font-weight: normal;
	text-indent: 0.3rem;
}
.top .goBack:after{
	content: "";
	width:0.24rem;
	height:0.4rem;
	position:absolute;
	background: url(../img/gt.png) no-repeat;
	background-size:0.24rem 0.4rem ;
	left: 0;
	top: 0.26rem;
}
.top .point{
	float: right;
	width:0.6rem;
	height:100%;
	position: relative;
	background: url(../img/point.png) no-repeat 0 center;
	background-size: 0.52rem 0.2rem;
	
}
