header .top{
	font-size: 0.34rem;
}
header .goBack{
	font-size: 0.29rem;
}
/*搜索条*/
.search{
	height:0.9rem;
	/*line-height: 0.6rem;*/
	background: #4ba60f;
	color: #fff;
	padding: 0.15rem 0.28rem;
	box-sizing: border-box;
	font-size: 0.28rem;
	position: relative;
}
.search .place{
	height:100%;
	width:0.6rem;
	line-height: 0.6rem;
	position: relative;
}
.search .place i{
	width:0.3rem;
	height:100%;
	position: absolute;
	background: url(../img/s.png) no-repeat -2.75rem -1.55rem;
	background-size:7.2rem 8rem;
}
.search p{
	width: 4.74rem;
	height:100%;
	margin-left:0.7rem ;
}
.search p .searchBar{
	width:100%;
	height:0.58rem;
	border-radius: 0.05rem;
	font-size: 0.28rem;
	border: none;
	outline: 0 none;
	background: #fff url(../img/s.png) no-repeat -2.7rem -2.15rem;
	background-size:7.2rem 8rem;
	text-indent: 0.48rem;
}
.search .navBtn{
	width:0.4rem;
	height:100%;
	background: url(../img/s.png) no-repeat -2.7rem -2.7rem;
	background-size: 7.2rem 8rem;
}
/*商品列表*/
.shoppingList{
	width:100%;
	background: #e6e6e6;
	overflow: hidden;
	
}
.shoppingList ul{
	width:100%;

}
.shoppingList ul li{
	background: #fff;
	margin-bottom:0.1rem;
	padding: 0.3rem;
	box-sizing: border-box;
	overflow: hidden;
}
.shoppingList .liWrap{
	width:100%;
	height:100%;
	overflow: hidden;
}
.shoppingList ul li .pic{
	width:1.5rem;
	height:1.5rem;
	border: 0.01rem solid #e0e0e0;
	border-radius: 0.05rem;
}
.shoppingList ul li .pic img{
	width:100%;
	height:100%;
	border-radius: 0.05rem;
}
.shoppingList .explain{
	width:5.3rem;
	height: 100%;
	padding: 0 0 0 0.2rem;
	box-sizing: border-box;
	font-size: 0.26rem;
}
.shoppingList .explain p{
	/*height:0.4rem;*/
	/*line-height: 0.4rem;*/
	font-size: 0.28rem;
}
.shoppingList .explain .middle{
	color: #999;
	font-size: 0.24rem;
	margin: 0.09rem 0;
}
.shoppingList .explain p:last-child{
	color: #4ba60f;
	margin-top: 0.25rem;
}
.shoppingList .explain i{
	margin:0 0.2rem 0 0.1rem; 
}
.shoppingList .explain b{
	font-weight: normal;
	position: relative;
	color: #666;
	font-style: none;
	font-size: 0.2rem;
}
/*底部填充*/
.botFill{
	width:100%;
	height:0.95rem;
}

/*底部固定栏*/
#footer{
	width:100%;
	height:0.95rem;
	position: fixed;
	bottom: 0;
	border-top: 0.02rem solid #e5e5e5;
	background: #fff;
}
#footer ul{
	width:100%;
	height:100%;
	padding: 0.15rem 1.3rem 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}
#footer ul li{
	width:0.5rem;
	font-size: 0.2rem;
	text-align: center;
}
#footer ul li p{
	width:100%;
	height:0.45rem;
	margin-bottom: 0.05rem;
	background-size: 7.2rem 8rem !important;
}
#footer ul li:nth-child(1) p{
	background: url(../img/s.png) no-repeat -2.2rem -5.4rem;
}
#footer ul li:nth-child(2) p{
	background: url(../img/s.png) no-repeat -3.65rem -5.4rem;
}
#footer ul li:nth-child(3) p{
	background: url(../img/s.png) no-repeat -5.1rem -5.4rem;
}


.b1{
	float: left;
	width: 0.4rem;
	height: 0.4rem;
	background: url(../img/start.png) no-repeat center center;
	background-size: 0.27rem 0.26rem;
}
.b2{
	background: url(../img/orangeStar.png) no-repeat center center;
	background-size: 0.27rem 0.26rem;
}

