header .top{
	font-size: 0.34rem;
}
header .goBack{
	font-size: 0.29rem;
}
body{
	background: #f1f1f1;
}
/*轮播图*/
.banner{
	width:100%;
	height:3.4rm;
}
.banner img{
	/*display: block;*/
	width:100%;
	height:100%;
}
.banner .swiper-container{
	width: 100%;
	
}
.banner .swiper-wrapper{
	width:100%;
	height:3.4rem;
}
.banner .swiper-pagination{
	left: 3rem !important;
	bottom: 0.2rem !important;
}
.banner .swiper-pagination span{
	width:0.16rem;
	height:0.16rem;
	background:#fff;
}


/*商品推荐*/
.newClass{
	width:100%;
}

.newClass ul{
	width:100%;
}
.newClass ul li{
	height:2.9rem;
	border-top: 0.01rem solid #f1f1f1;
	border-bottom: 0.01rem solid #f1f1f1;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.1rem;
}
.newClass .liWrap{
	width:100%;
	padding: 0.3rem;
	overflow: hidden;
	padding-bottom: 0.08rem;
	box-sizing: border-box;
	border-bottom: 0.02rem solid #f1f1f1;
}
.newClass ul li .pic{
	width:1.52rem;
	height:1.52rem;
	border: 0.01rem solid #e0e0e0;
	border-radius: 0.05rem;
}
.newClass ul li .pic img{
	width:100%;
	height:100%;
	border-radius: 0.05rem;
}
.newClass .explain{
	width:5.3rem;
	padding: 0 0 0 0.2rem;
	box-sizing: border-box;
	font-size: 0.26rem;
}
.newClass .explain p{
	line-height: 0.4rem;
}
.newClass .explain p:nth-child(1) span{
	padding: 0 0.1rem;
	display: inline-block;
	border-radius: 0.05rem;
	background: #ff323c;
	color: #fff;
}
.newClass .explain p:last-child{
	/*margin-top: 0.3rem;*/
	color: #ff323c;
	font-size: 0.28rem;
	margin-top: 0.5rem;
}
.newClass .explain i{
	margin:0 0.2rem 0 0.1rem; 
}
.newClass .explain b{
	font-weight: normal;
	margin-left: 0.2rem;
	padding: 0 0.2rem;
	position: relative;
	color: #666;
	font-style: none;
}
.newClass .explain b:after{
	content: '';
	width:100%;
	height:0.02rem;
	background: #a9a9a9;
	position: absolute;
	top: 50%;
	left: 0;
}
.newClass .order{
	width:100%;
	height:0.81rem;
	padding: 0 0.3rem;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #ff787f;
}
.newClass .order p{
	margin-left: 0.7rem;
	font-size: 0.26rem;
}
.newClass .order em{
	margin:0 0.05rem 0 0.2rem;
}
.newClass .order span{
	display: inline-block;
	background: #ff323c;
	color: #fff;
	padding: 0.1rem 0.25rem;
	border-radius: 0.1rem;
}
/*底部填充*/
.botFill{
	width:100%;
	height:0.95rem;
}


/*底部固定栏*/
#footer{
	width:100%;
	height:0.95rem;
	position: fixed;
	bottom: 0;
	border-top: 0.02rem solid #e5e5e5;
	background: #fff;
}
#footer ul{
	width:100%;
	height:100%;
	padding: 0.15rem 1.3rem 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}
#footer ul li{
	width:0.5rem;
	font-size: 0.2rem;
	text-align: center;
}
#footer ul li p{
	width:100%;
	height:0.45rem;
	margin-bottom: 0.05rem;
	background-size: 7.2rem 8rem !important;
}
#footer ul li:nth-child(1) p{
	background: url(../img/s.png) no-repeat -1.5rem -5.4rem;
}
#footer ul li:nth-child(2) p{
	background: url(../img/s.png) no-repeat -5.1rem -5.4rem;
}
#footer ul li:nth-child(3) p{
	background: url(../img/s.png) no-repeat -2.93rem -5.4rem;
}